@font-face {
    font-family: Lateef;
    src: url(Assets/Lateef-Regular.ttf);
}
@font-face {
    font-family: ArabicTwo_Bold;
    src: url(Assets/ArabicTwo_Bold.ttf);
}

.App {
    margin: 0 25px;
}

.id-img {
    width: 500px;
}

.inputs-content .form-control {
    margin-bottom: 5px;
}

.img-holder {
    display: flex;
    justify-content: space-around;
}

.img-container, .img-container-2 {
    position: relative;
}

.img-container > p, .img-container-2 > p {
    position: absolute;
    font-family: Lateef;
    font-size: 22px;

    /*top:0;*/
    /*right: 0;*/
    font-weight: bold;
    text-align: right;
    direction: rtl;
    color: #000000;
}

.first-name {
    top: 85px;
    right: 32px;
}

.last-name {
    top: 110px;
    right: 32px;
}

.address {
    top: 150px;
    right: 32px;
}

.center-city {
    top: 175px;
    right: 32px;
}

.id-number {
    top: 250px;
    right: 25px;
    letter-spacing: 4px;
}

.date-of-birth {
    top: 236px;
    left: 51px;
    letter-spacing: 2px;
    color: #2e2e2e !important;
}

.id-avatar {
    position: absolute;
    width: 130px;
    height: 165px;
    left: 15px;
    top: 23px;
    filter: grayscale(1);
}

.id-avatar-bg {
    position: absolute;
    left: 37px;
    top: 49px;
    background-color: white;
    width: 86px;
    height: 94px;
    box-shadow: 0 0 19px 20px white;
    opacity: 0.4;

}

.id-number-2 {
    top: 30px;
    right: 100px;
    letter-spacing: 1px;
}

.date-created {
    top: 30px;
    left: 151px;
}

.job-title {
    top: 54px;
    right: 100px;
    width: 262px;
    line-height: 25px;
}

.gender {
    top: 100px;
    right: 100px;
}

.religion {
    top: 100px;
    right: 180px;
}
.social-status {
    top: 100px;
    right: 278px;
}
.date-expire {
    top: 160px;
    right: 100px;
}
.date-expire > span {
    letter-spacing: 1px;
}
.lone-number {
    top: 160px;
    right: 25px;
}
.fake-it {
    position: fixed;
    font-size: 95px;
    letter-spacing: 0px;
    color: #f44336;
    top: 588px;
    left: 627px;
}